
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-image: url(../../images/trangchu.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    body {
        background-image: url(../../images/trangad.jpg);
        background-size:cover;
        background-repeat:no-repeat;
    }
    </style >

   
<h3 style="color: cornflowerblue;
        font-size: 30px;
        text-align: right;
        font-family: Florence, cursive;">
    Phòng Khám Đa Khoa Sông Hồng
</h3>
