@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-image: url(../../images/trangchu.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    p {
        font-family: Florence, cursive;
        font-size: 35px;
        text-align: center;
        padding: 10px;
        color: cadetblue;
    }
</style>
<h3 style="color: cornflowerblue;
        font-size: 40px;
        text-align: left;
        font-family: Florence, cursive;"> Phòng Khám Đa Khoa Sông Hồng </h3>
<p>Sông Hồng vì sức khỏe cộng đồng</p>