
@{
    ViewBag.Title = "Infor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    div{
        font-size:20px;
    }
</style>
<br/>
<div>Trong suốt quá trình hình thành và phát triển 
    Phòng khám đa khoa Sông Hồng được sự quan tâm, 
    hợp tác, giúp đỡ của nhiều Giáo sư, Tiến sĩ,
    Chuyên viên đầu ngành, Bác sĩ tại các bệnh viện lớn của trung ương như:
</div>
<br />
<div>
    <img src="https://phongkhamdakhoathegioi.vn/upload/hinhanh/trang-thiet-bi-phong-kham-3.JPG" width="100%" />
</div>
<br/>
<div>
    Nhằm đáp ứng nhu cầu Khám chữa bệnh chất lượng cao ngày càng tăng, 
    đến nay Phòng khám Đa khoa Sông Hồng đã quy tụ được một đội ngũ với nhiều Giáo sư,
    Tiến sĩ, Bác sĩ giàu kinh nghiệm chuyên môn, thuộc nhiều chuyên khoa khác nhau, 
    có nhiều năm học tập, nghiên cứu và làm việc ở nước ngoài, 
    tận tình chu đáo trong công việc.
</div>
<br />
<div>
    <img src="https://product.hstatic.net/1000152908/product/img_7999_master.jpg" width="100%"/>
</div>
<br />
<div>
    Cùng nhiều trang thiết bị hiện đại như: Các máy xét nghiệm hoàn toàn tự động.
    Ba máy siêu âm doppler màu chuyên sâu tim mạch, ổ bụng, phần phụ, tuyến giáp, 
    tuyến vú. Máy siêu âm màu 4D chuyên Thai sản. Máy điện não điện toán vi tính. 
    Máy điện tim kết nối vi tính in lưu kết quả lâu dài. Máy nội soi màu Olympus CV-150(thế hệ mới nhất). 
    Máy Holter ZoZinn (Mỹ) theo dõi chuyên sâu, liên tục trong 24 giờ về điện tim và huyết áp …

    Được sự đầu tư, hỗ trợ của công ty Phát triển kỹ thuật và chăm sóc Y tế BIMEDIC, 
    Công ty phát triển Y tế Việt Đức, Phòng khám Đa khoa Sông Hồng đã ứng dụng thành công nhiều  
    thành tựu khoa học kỹ thuật tiên tiến và được đầu tư nhiều trang thiết bị hiện đại phục vụ công tác khám chữa bệnh.
</div>
<br />
<div>
    <img src="https://lh3.googleusercontent.com/proxy/AzxJnMSNo0PPNmdIydxjsBAL6w2mLippJFPG4Rq4zpqp70-1oz4PsEbMouX98UHCQd67FSZpvSNsoGFNmdOk4IaWDOEMHv9JXkmPPHHFq9iWTdcezkJkdwYb9LFvA977xKKsxIDbKj_J" width="33%" />
    <img src="https://bambufit.vn/images/image/Drsmile1.jpg" width="33%" />
    <img src="https://thegioigiamgia.net/wp-content/uploads/2020/09/NhakhoaMinhan4.jpg" width="33%" />
</div>
<br />
<div>
    Tình trạng quá tải gây hệ quả xấu cho cả phía bệnh nhân và nhân viên y tế. 
    Người bệnh phải chờ đợi rất lâu mới được khám, được xét nghiệm, chụp phim… được kết luận bệnh, 
    kê đơn và tư vấn về bệnh. Thầy thuốc thì không đủ thời gian để thăm khám, hỏi bệnh, 
    tư vấn cho người bệnh một cách đầy đủ. Hậu quả là dễ bỏ sót bệnh, chẩn đoán bệnh không chính xác, 
    hướng dẫn phòng chữa bệnh và chế độ ăn cho bệnh nhân không đầy đủ, không theo dõi chu đáo tiến triển của bệnh nhân...
</div>
<br />
<div>
    <img src="https://hih.vn/wp-content/uploads/2018/10/IMG_9750.jpg" width="100%"/>
</div>
<br />
<div>
    Phòng khám Đa khoa Sông Hồng đã liên tục đầu tư, nâng cấp trang thiết bị,
    phát triển nguồn nhân lực, hoàn thiện phong cách phục vụ góp phần giảm bớt sự quá tải tại các bệnh viện 
    và mang lại cho bệnh nhân một chất lượng khám chữa bệnh tối ưu với các thầy thuốc giỏi và các trang thiết bị hiện đại.
</div>
<br/>
<div>
    Để nâng cao chất lượng khám chữa bệnh, chất lượng phục vụ bệnh nhân 
    ngày càng tốt hơn phòng khám Đa khoa Sông Hồng luôn coi trọng 
    Ứng dụng tiến bộ khoa học công nghệ vào khám chữa bệnh và thực hiện tốt công tác Kiểm tra Chất lượng xét nghiệm, 
    Kiểm chuẩn trang thiết bị.
</div>
<br/>
<div>
    Tất cả những quan tâm, những nỗ lực đó của Phòng khám Đa khoa Sông Hồng đã góp phần nâng cao chất lượng khám chữa bệnh, 
    chất lượng phục vụ bệnh nhân, đáp ứng sự tin tưởng và mong đợi của mọi người.
</div>
<br />
<pre style="text-align:center; font-size:18px">
    VỚI PHƯƠNG CHÂM

    “ Luôn đáp ứng nhu cầu khám chữa bệnh chất lượng cao,
    tiết kiệm thời gian và chi phí cho khách hàng.”

    Phòng khám Binh Minh luôn chú trọng việc đầu tư đảm bảo
    Chất lượng chuyên môn Khám chữa bệnh tốt nhất
    Hệ thống máy móc, thiết bị hiện đại nhất
    Để phục vụ khám chữa bệnh cho bênh nhân đạt tiêu chí

    Chất lượng Tốt - Chăm sóc Tốt - Sức khỏe Tốt

    -------*****-------
</pre>

<div style="display:flex">
    <div style="flex-grow:1">
        <h2>Thông tin liên hệ</h2>
        <div>
            PHÒNG KHÁM ĐA KHOA SÔNG HỒNG 
        </div>
        <div>
            Địa chỉ: 85 Trần Hưng Đạo, Tp Nam Định, Nam Định.
        </div>
        Email: songhong123@gmail.com
        <div>
            Hotline: 0123868686
        </div>
        <div>
            Tổng đài: (024)38.699.066
        </div>
        <div>
            Hỗ trợ chăm sóc khách hàng: 0948.622.644
        </div>
        <br/>
        <div style="display:flex; text-align:center">
            <div style="flex-grow:1">
                <a href="https://www.facebook.com/"><img src="~/images/facebook.svg" width="56" /></a>
            </div>
            <div style="flex-grow:1">
                <a href="https://mail.google.com/"><img src="~/images/gmail.svg" width="56" /></a>
            </div>
            <div style="flex-grow:1">
                <a href="https://www.instagram.com/"><img src="~/images/instagram.svg" width="56" /></a>
            </div>
        </div>
    </div>
    <div style="flex-grow:1">
        <h2>Bản đồ</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3738.99877037763!2d106.17508491423477!3d20.42413181352078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135e74ba2a7d4bb%3A0x81c66927364181c1!2zODUgUGjhu5EgVHLhuqduIEjGsG5nIMSQ4bqhbywgVHLhuqduIEjGsG5nIMSQ4bqhbywgVFAuIE5hbSDEkOG7i25oLCBOYW0gxJDhu4tuaCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1608220303250!5m2!1sen!2s" width="600" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>

